@*
   
*@
@{
}

<h1>Leave a review!</h1>

<form method="post">
    <p>Restaurant</p>
    <input type="text" name="name"/>
    <p>Zipcode</p>
    <input type="number" name="number"/>
    <p>Review</p>
    <input type="text" name="review" />
</form>