@model List<RestaurantReviews.Data.Models.Review>
@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/stylesheet.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (TempData["user"] != null)
{
    <h2>You are logged in as @TempData["user"]</h2>
}

<form method="post" asp-action="GetReviews" class="searchform">
    <p>Enter name and zipcode</p>
    <input type="text" name="name">
    <input type="number"name="zipcode" />
    <input type="submit" class="btn btn-dark"/>
</form>

<ul class="list-group">
    @if (Model != null)
    {
        @foreach (var i in Model)
        {
            <li class="list-group-item">
                <b>@Html.DisplayFor(m => i.Stars) stars</b>
                <br />
                @Html.DisplayFor(m => i.Review1)
            </li>
        }
    } else
            {
                <p>No restaurants found...</p>
            }

</ul>