@model List<RestaurantReviews.Data.Models.Review>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" asp-action="GetReviews">
    <p>Enter name and zipcode</p>
    <input type="text" name="name">
    <input type="number"name="zipcode" />
    <input type="submit" />
</form>

<ul>
    @if (Model != null)
    {
        @foreach (var i in Model)
        {
            <br />
            <li>This Restaurant has a rating of @Html.DisplayFor(m => i.Stars) stars</li>
            <li>The user's review:</li>
            <li>@Html.DisplayFor(m => i.Review1)</li>
            <br />
        }
    } else
            {
                <p>No restaurants found...</p>
            }

</ul>