@model List<RestaurantReviews.Data.Models.Review>
@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/stylesheet.css" rel="stylesheet" />

<div class="homelanding">
    <div class="text-center">
        <h1 class="display-4">Welcome to Review Shack</h1>
    </div>

    @{
        if (TempData["user"] != null)
        {
            <h2 id="logininfo">
                You are logged in as @TempData.Peek("user")
            </h2>
        }

        if (TempData["isAdmin"] != null)
        {
            <p id="admintext" class="text-danger">
                Admin Account.
            </p>
        }
        TempData.Keep("isAdmin");
        TempData.Keep("user");
    }

    <form method="post" asp-action="GetReviews" class="searchform">
        <p>Enter the restaurant's name and zipcode to find reviews for restaurants in your area.</p>
        <input type="text" name="name">
        <input type="number" name="zipcode" />
        <input type="submit" class="btn btn-dark" />
    </form>

    <ul class="list-group">
        @if (Model != null)
        {
            @foreach (var i in Model)
            {
                <li class="list-group-item">
                    <b>@Html.DisplayFor(m => i.Stars) stars</b>
                    <br />
                    @Html.DisplayFor(m => i.Review1)
                </li>
            }
            <li class="list-group-item">
                <b>The Final Verdict:</b>
                <br />
                <b>@ViewData["finalreview"] stars</b>
            </li>
        }
        else
        {
            <li class="list-group-item">No restaurants found...</li>
        }

    </ul>

</div>

    

