@model SignedInUser

<h2>Welcome! Please enter your username and password.</h2>

<form method="post" asp-action="SignIn">
    <p>Username:</p>
    <input asp-for="username" type="text" name="username" />
    <span asp-validation-for="username" class="text-danger"></span>
    <p>Password:</p>
    <input asp-for="password" type="password" name="password" />
    <span asp-validation-for="password" class="text-danger"></span>
    <br />
    <input type="submit" name="submit" value="submit" />
</form>

<h2>Don't have an account? <a asp-action="Register">Register Here.</a></h2>
